div#message_up_absolute {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


span#ac_in {
    padding: 5px;
    margin-right: 5px;
}

div#message_up_absolute>p {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 500;
    color: #303030;
}

div#chat_div {
    position: relative;
    width: 100vw;
    height: 75vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background: #ff8;
}

span#recent_span_chat {
    padding: 5px 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

div#chat_div>div>h2 {
    width: 90%;
    margin-left: 10px;
    text-align: left;
}

p#sr_p {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input#_search_ {
    width: 60%;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    color: #303030;
}

button#_b_search {
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    color: #303030;
    cursor: pointer;
}

div#recent_chat_friends {
    position: relative;
    width: 30%;
    height: 75vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

div#find_friends>p {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section#active_find {
    position: relative;
    background-color: #8ff;
    padding: 5px 0;
    width: 200%;
    height: 90%;
    display: flex;
    flex-direction: row;
    transition: all 250ms ease-in-out;
}

section#active_find_sec_1 {
    position: relative;
    background-color: #f8f;
    overflow-x: hidden;
    padding: 5px 0;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
}

span#lv_usr_1 {
    position: relative;
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

span#lv_usr_1>span {
    position: relative;
    width: 90%;
}

span#lv_clr_1 {
    padding: 5px;
}

span#lv_clr_prsn_1 {
    background: #8ff;
    font-size: 16px;
    font-weight: 500;
    color: #303030;
    padding: 10px 5px;
}

span#lv_usr_1>span.a_n_1 {
    background: #22ef22;
}

span#lv_usr_1>span._un_1 {
    background: #707070;
}

section#active_find_sec_2 {
    position: relative;
    background-color: #8f8;
    overflow-x: hidden;
    padding: 5px 0;
    width: 100%;
    height: 95%;
}

button#active,
button#find_friends_b {
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    color: #303030;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

span#spn_bt {
    position: relative;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
}

p#c_pb {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 10px 0;
}

span#el_1 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #303030;
    background: #8ff;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 500;
    padding: 2px 2px 2px 10px;
}

span#el_2 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #303030;
    background: #f8f;
    padding: 5px 0;
}

span#el_2>button {
    margin-right: 10px;
    font-size: 16px;
    padding: 2px;
    cursor: pointer;
}

div#message {
    position: relative;
    width: 30%;
    height: 75vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    color: #303030;
}

div#find_friends {
    position: relative;
    width: 30%;
    height: 75vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

div#message>p {
    align-self: flex-end;
    color: #505050;
    font-size: 18px;
    margin: 10px 0;
    font-weight: 500;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: #8f8;
}

div#message span.p_id_rt {
    background: #ff8;
    width: 100%;
    text-align: right;
}

div#message span.p_id_lt {
    background: #8ff;
    width: 100%;
    text-align: left;
}

span#new_rc_mg {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    animation: left 800ms ease-in-out 1;
}

@keyframes left {
    0% {
        transform: translate(100%);
    }

    100% {
        transform: translate(0%);
    }
}

span#new_rc_mg>span {
    width: 90%;
    font-size: 18px;
    font-weight: 500;
    color: #303030;
    border-left: 10px solid #08f;
    padding: 5px;
    cursor: pointer;
}

span#new_rc_mg>span:nth-child(1) {
    background: #8ff;
    font-size: 20px;
}

span#new_rc_mg>span:nth-child(2) {
    background: #8f8;
    text-align: right;
}

div#message_send {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#message_send>input[name="s_ms"] {
    width: 25%;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #303030;
}

div#message_send>button#_sd {
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #303030;
}